{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<h1>Poseidon</h1>
<h2>Poseidon can help reduce carbon</h2>
<h2>By saving whales and forests.</h2>
<h2>Now use poseidon, save sea turtles!</h2>
supported by NASA Hackathon 2021 at Taipei<br> 

    <a href="Forests"><img src="../static/fig/slide1.png" width="300" height="200"></a>
    <a href="Whales"><img src="../static/fig/slide2.png" width="300" height="200"></a>
    <img src="../static/fig/slide3.png" width="300" height="200">
<br>

Chia-Lin Chen(陳佳琳), Meng-Chuan, Lee(李孟娟)<br><br>
{% endblock %}